[Unit]
Description = Private git
After       = network-online.target
Wants       = network-online.target

[Service]
Type             = oneshot
User             = blanktiger
WorkingDirectory = /home/blanktiger/private-git
ExecStart        = /home/blanktiger/.cargo/bin/just run
RemainAfterExit  = yes

[Install]
WantedBy = multi-user.target
