[Unit]
Description = Private git
After       = default.target

[Service]
Type             = oneshot
WorkingDirectory = %h/private-git
ExecStart        = %h/.cargo/bin/just run
RemainAfterExit  = yes

[Install]
WantedBy = default.target
